<!DOCTYPE html>
<html>

<head>
    <title>Recipe App</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
</head>

<body>
    <div class="container mt-4">

    {{{body}}}
    <script type="text/javascript" src="js/materialize.min.js"></script>
    </div>
    
</body>
</html>