<h1>{{title}}</h1>
<h4>{{name}}</h4>
<h4>{{ingredients}}</h4>
<h4>{{instructions}}</h4>

<input type="text" id="name-text">
<h4>Ingredients</h4>
<textarea id="ingredients-text"></textarea>
<button id="add-ingredient" type="button">Add ingredient</button>
<h4>instructions</h4>
<textarea id="instructions-text"></textarea>
<button id="add-instruction" type="button">Add instruction</button>
<button id="submit" type="submit">Submit</button>





